<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark only">
    <title>{{ config.PROJECT_NAME }} - Страница не существует</title>
    <link rel="stylesheet" href="{{ url_for('serve_css', filename='404.css') }}">
</head>

<body oncontextmenu="return false;">
    <div class="app">
        <a href="/" class="home-button">Вернуться на главную</a>
        <div class="error">
            404
        </div>
        <div class="img">
            <img src="{{ url_for('serve_img', filename='okak.png') }}" alt="cat">
            <h1 class="okak">ОКАК</h1>
        </div>
    </div>

    <script>
        document.addEventListener('selectstart', function (e) {
            if (e.target.className !== 'home-button') {
                e.preventDefault();
            }
        });

        document.addEventListener('dragstart', function (e) {
            if (e.target.tagName === 'IMG') {
                e.preventDefault();
            }
        });
    </script>
</body>

</html>